{% load active_link_tags %}
{% load static %} 
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
       <div id="sidebar-menu" class="sidebar-menu">
         {% if user.user_type == '1' %}
          <ul>
             <li class="menu-title">
                <span>Main Menu</span>
             </li>
             <li class="{% active_link 'staff_home' 'active' %}">
                <a href="{% url 'staff_home' %}"><i class="fas fa-holly-berry"></i> <span> Dashboard</span></a>
               </li>
             <li class="submenu {% active_link 'add_student' 'active' %} {% active_link 'view_alumni' 'active' %}">
               <a href="#"><i class="fas fa-user-graduate"></i> <span> Alumni </span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'add_student' %}">Add Alumni</a></li>
                  <li><a href="{% url 'view_alumni' %}">View Alumni</a></li>
               </ul>
            </li>
            <li class="submenu">
               <a href="#"><i class="fas fa-user-graduate"></i> <span> Events </span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'add_event' %}">Add event</a></li>
                  <li><a href="">View event</a></li>
               </ul>
               <li class="">
                  <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span> Logout</span></a>
            </li>
          </ul>
          {% else %}
          <ul>
            <li class="menu-title">
               <span>Main Menu</span>
            </li>
            <li class="{% active_link 'alumni_home' 'active' %}">
               <a href="{% url 'view_alumni' %}"><i class="fas fa-holly-berry"></i> <span> Home</span></a>
              </li>
              <!-- <li class="">
                  <a href="{% url 'view_alumni' %}"><i class="fas fa-sign-out-alt"></i> <span> View Alumni</span></a>
            </li> -->
              <li class="">
               <a href="{% url 'view_events' %}"><i class="fas fa-calendar-alt"></i> <span>Events</span></a>
            </li>
            
            <li class="submenu {% active_link 'post_job' 'active' %}">
               <a href="#"><i class="fas fa-business-time"></i> <span> Jobs </span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'post_job' %}">Post Jobs</a></li>
                  <li><a href="{% url 'view_job' %}">View Jobs</a></li>
               </ul>
            </li>
            <li class="">
               <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span> Logout</span></a>
         </li>
         </ul>
         {% endif %}
       </div>
    </div>
 </div>