{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="content container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="page-title">Organized Events</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item active">Events Detalis</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="about-info">
            {% for i in events  %}
              <h4>{{i.Title}}</h4>
              <div class="media mt-3">
                <img src="/{{i.event_img}}" class="mr-3" alt="Event Image" />
                <div class="media-body">
                  <ul>
                    <li>
                      <span class="title-span">Description : </span>
                      <span class="info-span">{{i.description}}</span>
                    </li>
                  </ul>
                </div>
              </div>
              {% endfor %}
            </div>
        </br>
{% endblock %}
